In [249]:
import pandas as pd
import numpy as np

# import data from cvs files
data20=pd.read_csv('../it_salary_2020.csv')
data19=pd.read_csv('../it_salary_2019.csv')

In [250]:
# print shape and head
print(data20.shape)
data20.head()

(1253, 23)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [251]:
print(data19.shape)
data19.head()

(991, 23)

,Zeitstempel,Age,Gender,City,Seniority level,Position (without seniority),Years of experience,Your main technology / programming language,Yearly brutto salary (without bonus and stocks),Yearly bonus,...,Yearly stocks one year ago. Only answer if staying in same country,Number of vacation days,Number of home office days per month,Main language at work,Company name,Company size,Company type,Сontract duration,Company business sector,0
0,02.12.2019 11:18:26,33.0,Male,Berlin,Senior,Fullstack Developer,13,PHP,64000.0,1000.0,...,NaN,29.0,4.0,English,NaN,50-100,Startup,unlimited,Tourism,NaN
1,02.12.2019 11:18:35,29.0,Male,Berlin,Middle,Backend Developer,3,Python,55000.0,NaN,...,NaN,22.0,4.0,English,NaN,10-50,Product,unlimited,Scientific Activities,NaN
2,02.12.2019 11:18:56,NaN,Male,Berlin,Middle,Mobile Developer,4,Kotlin,70000.0,NaN,...,NaN,27.0,NaN,English,NaN,1000+,Startup,unlimited,NaN,NaN
3,02.12.2019 11:19:08,30.0,Male,Berlin,Senior,Backend Developer,6,PHP,63000.0,NaN,...,NaN,24.0,NaN,English,Auto1,100-1000,Product,unlimited,Transport,NaN
4,02.12.2019 11:19:37,32.0,Male,Berlin,Senior,Embedded Developer,10,C/C++,66000.0,NaN,...,NaN,30.0,0.0,English,Luxoft,50-100,Product,unlimited,Automotive,NaN

In [252]:
# rename important columns
data20.rename(columns={
    "Position ": "Position",
    "Total years of experience": "Experience", 
    "Seniority level": "Seniority", 
    "Yearly brutto salary (without bonus and stocks) in EUR": "Salary", 
    "Yearly bonus + stocks in EUR": "Bonus",
    "Number of vacation days": "VacationDays",
    "Сontract duration": "ContractDuration",
    "Main language at work": "Language",
    "Company size": "CompanySize",
    "Company type": "CompanyType"
                     }, inplace=True)

data19.rename(columns={
    "Position (without seniority)": "Position",
    "Years of experience": "Experience", 
    "Seniority level": "Seniority", 
    "Yearly brutto salary (without bonus and stocks)": "Salary", 
    "Yearly bonus": "Bonus",
    "Yearly stocks": "Stocks",
    "Number of vacation days": "VacationDays",
    "Сontract duration": "ContractDuration",
    "Main language at work": "Language",
    "Company size": "CompanySize",
    "Company type": "CompanyType"
                     }, inplace=True)

In [253]:
# extract valuable columns
df20 = data20[["Age", "Gender", "City", "Position", "Experience", "Salary", "Seniority", "Bonus", "VacationDays", "Language", "CompanySize", "CompanyType"]]
df19 = data19[["Age", "Gender", "City", "Position", "Experience", "Salary", "Seniority", "Bonus" , "Stocks", "VacationDays", "Language", "CompanySize", "CompanyType"]]
print(df20.head())
print(df19.head())

    Age Gender    City            Position Experience    Salary Seniority  \
0  26.0   Male  Munich   Software Engineer          5   80000.0    Senior
1  26.0   Male  Berlin   Backend Developer          7   80000.0    Senior
2  29.0   Male  Berlin   Software Engineer         12  120000.0      Lead
3  28.0   Male  Berlin  Frontend Developer          4   54000.0    Junior
4  37.0   Male  Berlin   Backend Developer         17   62000.0    Senior

    Bonus VacationDays Language CompanySize CompanyType
0    5000           30  English      51-100     Product
1     NaN           28  English    101-1000     Product
2  120000           30  English    101-1000     Product
3     NaN           24  English      51-100     Startup
4     NaN           29  English    101-1000     Product
    Age Gender    City             Position  Experience   Salary Seniority  \
0  33.0   Male  Berlin  Fullstack Developer          13  64000.0    Senior
1  29.0   Male  Berlin    Backend Developer           3  55000.0    Middle
2   NaN   Male  Berlin     Mobile Developer           4  70000.0    Middle
3  30.0   Male  Berlin    Backend Developer           6  63000.0    Senior
4  32.0   Male  Berlin   Embedded Developer          10  66000.0    Senior

    Bonus  Stocks  VacationDays Language CompanySize CompanyType
0  1000.0     NaN          29.0  English      50-100     Startup
1     NaN     NaN          22.0  English       10-50     Product
2     NaN     NaN          27.0  English       1000+     Startup
3     NaN     NaN          24.0  English    100-1000     Product
4     NaN     NaN          30.0  English      50-100     Product

In [254]:
print(df20.shape)
print(df19.shape)

(1253, 12)
(991, 13)

In [255]:
# print amount of null values
df20.isna().sum()

Age              27
Gender           10
City              0
Position          6
Experience       16
Salary            0
Seniority        12
Bonus           424
VacationDays     68
Language         16
CompanySize      18
CompanyType      25
dtype: int64

In [256]:
df19.isna().sum()

Age             109
Gender            0
City              0
Position          1
Experience        0
Salary            1
Seniority        15
Bonus           461
Stocks          788
VacationDays     60
Language          5
CompanySize      14
CompanyType      31
dtype: int64

In [257]:
# replace null values in Bonus and Stocks with 0

df20.Bonus.fillna(0, inplace=True)
df19.Bonus.fillna(0, inplace=True)
df19.Stocks.fillna(0, inplace=True)

C:\Users\selak\AppData\Local\Temp\ipykernel_7180\212668846.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20.Bonus.fillna(0, inplace=True)
C:\Users\selak\AppData\Local\Temp\ipykernel_7180\212668846.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19.Bonus.fillna(0, inplace=True)
C:\Users\selak\AppData\Local\Temp\ipykernel_7180\212668846.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19.Stocks.fillna(0, inplace=True)

In [258]:
df20.isna().sum()

Age             27
Gender          10
City             0
Position         6
Experience      16
Salary           0
Seniority       12
Bonus            0
VacationDays    68
Language        16
CompanySize     18
CompanyType     25
dtype: int64

In [259]:
df19.isna().sum()

Age             109
Gender            0
City              0
Position          1
Experience        0
Salary            1
Seniority        15
Bonus             0
Stocks            0
VacationDays     60
Language          5
CompanySize      14
CompanyType      31
dtype: int64

In [260]:
print(df20.shape)
print(df19.shape)

(1253, 12)
(991, 13)

In [261]:
df20.head()

,Age,Gender,City,Position,Experience,Salary,Seniority,Bonus,VacationDays,Language,CompanySize,CompanyType
0,26.0,Male,Munich,Software Engineer,5,80000.0,Senior,5000,30,English,51-100,Product
1,26.0,Male,Berlin,Backend Developer,7,80000.0,Senior,0,28,English,101-1000,Product
2,29.0,Male,Berlin,Software Engineer,12,120000.0,Lead,120000,30,English,101-1000,Product
3,28.0,Male,Berlin,Frontend Developer,4,54000.0,Junior,0,24,English,51-100,Startup
4,37.0,Male,Berlin,Backend Developer,17,62000.0,Senior,0,29,English,101-1000,Product

In [262]:
# remove null values
df20 = df20.dropna()
df19 = df19.dropna()
print(df20.shape)
print(df19.shape)

(1138, 12)
(804, 13)

In [263]:
print("2020 null values")
print(df20.isna().sum())
print("\n2019 null values")
print(df19.isna().sum())

2020 null values
Age             0
Gender          0
City            0
Position        0
Experience      0
Salary          0
Seniority       0
Bonus           0
VacationDays    0
Language        0
CompanySize     0
CompanyType     0
dtype: int64

2019 null values
Age             0
Gender          0
City            0
Position        0
Experience      0
Salary          0
Seniority       0
Bonus           0
Stocks          0
VacationDays    0
Language        0
CompanySize     0
CompanyType     0
dtype: int64

In [264]:
print('Gender unique values')
print(df20.Gender.unique())
print(df19.Gender.unique())
print('City unique values')
print(df20.City.unique())
print(df19.City.unique())
print('Position unique values')
print(df20.Position.unique())
print(df19.Position.unique())
print('Seniority unique values')
print(df20.Seniority.unique())
print(df19.Seniority.unique())
print('Language unique values')
print(df20.Language.unique())
print(df19.Language.unique())
print('CompanySize unique values')
print(df20.CompanySize.unique())
print(df19.CompanySize.unique())
print('CompanyType unique values')
print(df20.CompanyType.unique())
print(df19.CompanyType.unique())
print('Bonuse unique values')
print(df20.Bonus.unique())
print(df19.Bonus.unique())
print('VacationDays unique values')
print(df20.VacationDays.unique())
print(df19.VacationDays.unique())
print('Experience unique values')
print(df20.Experience.unique())
print(df19.Experience.unique())
print('Stocks unique values')
print(df19.Stocks.unique())

Gender unique values
['Male' 'Female' 'Diverse']
['Male' 'Female']
City unique values
['Munich' 'Berlin' 'Hamburg' 'Wolfsburg' 'Stuttgart' 'Schleswig-Holstein'
 'Konstanz area' 'Frankfurt' 'Cologne' 'Kempten' 'Münster' 'Erlangen'
 'Vienna' 'Mannheim ' 'Rosenheim' 'Boeblingen' 'Düsseldorf' 'Ingolstadt'
 'Nürnberg' 'Ansbach' 'Leipzig' 'Mannheim' 'Tuttlingen' 'Bonn' 'Moscow'
 'Koblenz' 'Warsaw' 'Heidelberg' 'Köln' 'Aachen' 'Riga, Latvia'
 'Dusseldorf' 'Zurich' 'Helsinki' 'Würzburg' 'Kiev' 'Den Haag' 'London'
 'Amsterdam' 'Cracovia' 'Tallinn' 'Prague' 'Utrecht' 'Stockholm'
 'Braunschweig ' 'Dresden' 'Kyiv' 'Stuttgart ' 'Malta' 'Lübeck'
 'Nuremberg ' 'Bodensee' 'Milan' 'Salzburg' 'Rome' 'Wroclaw' 'Karlsruhe'
 'Cupertino' 'Paris' 'Dublin ' 'Paderborn' 'Konstanz' 'Ulm' 'Barcelona'
 'Bölingen' 'Tampere (Finland)' 'Hannover' 'Siegen' 'Minsk' 'Düsseldorf '
 'Nuremberg' 'Marseille' 'Friedrichshafen' 'Walldorf' 'Eindhoven' 'France'
 'Regensburg' 'Warsaw, Poland' 'Heilbronn' 'Dortmund' 'City in Russia'
 'Cracow' 'Brunswick' 'Dublin' 'Madrid' 'Lisbon' 'Sofia' 'Luttich'
 'Milano' 'Bielefeld' 'Basel' 'Istanbul' 'warsaw' 'Hildesheim'
 'Murnau am Staffelsee ' 'Innsbruck' 'Brussels ' 'Hildesheim '
 'Prefer not to say' 'Dusseldurf' 'Fr' 'Darmstadt' 'Duesseldorf'
 'Cambridge' 'Brussels' 'Copenhagen' 'Sevilla' 'Krakow' 'Ingolstadt '
 'Saint-Petersburg' 'Saarbrücken']
['Berlin' 'Hamburg' 'Frankfurt' 'Cologne' 'Düsseldorf' 'Wolfsburg'
 'Munich' 'MA' 'Leipzig' 'Nuremberg' 'Krakow' 'Wroclaw' 'Stuttgart'
 'London' 'Karlsruhe' 'Ingolstadt' 'Riga' 'Moscow' 'Kyiv' 'Freiburg'
 'Amsterdam' 'Vienna' 'Pforzheim' 'Kassel ' 'Madrid' 'Warsaw' 'Hannover'
 'Paris' 'Milan' 'Odesa' 'Cork' 'Heidelberg' 'Brussels' 'Bielefeld'
 'Dublin' 'Jyvaskyla' 'Dubai' 'Zurich' 'Lingen' 'Walldorf'
 'Schleswig-Holstein' 'Braunschweig' 'Kaiserslautern' 'Eindhoven'
 'Saint Petersburg' 'Eindhoven ' 'Hilversum' 'Gdańsk' 'Zug' 'Almere'
 'Limassol' 'Stockholm' 'Rotterdam' 'Antwerpen' 'Tallinn' 'Koblenz'
 'Würzburg ' 'Bremen' 'Lausanne' 'Nizhny Novgorod ' 'Saint-Petersburg '
 'Minsk' 'Utrecht' 'Kiev']
Position unique values
['Software Engineer' 'Backend Developer' 'Frontend Developer' 'DevOps'
 'Data Engineer' 'Designer (UI/UX)' 'Product Manager' 'Mobile Developer'
 'Software Architect' 'Team Lead' 'Test manager' 'QA Engineer'
 'Data Scientist' 'Hardware Engineer' 'Engineering Manager'
 'Analytics engineer' 'Localization producer' 'Reporting Engineer'
 'Account Managet' 'agile master ' 'ML Engineer' 'Solution Architect'
 'BI Consultant' 'Fullstack Developer' 'Cloud Architect'
 'System Administrator' 'Project Manager' 'Network Engineer '
 'VP Engineering' 'Agile Coach' 'Scrum Master' 'Firmware Engineer'
 'Solutions Architect' 'Data Center Manager' 'C/C++/Java developer'
 'DevOps Manager' 'Tech Lead' 'Network Administrator' 'Security Manager'
 'Consultant Data Analytics' 'BI IT Consultant' 'Graphic Designer'
 'iOS Developer' 'Cloud Engineer' 'Solutions architect' 'Stuttgart'
 'Senior Program Manager' 'DB developer/Data analyst' 'Security Engineer'
 'Business Analyst' 'DBA' 'Support Engineer' 'Consultant' 'Recruiter'
 'Testautomation' 'SAP Developer' 'Systemadministrator' 'SW Architect'
 'SRE' 'Fullstack engineer, ну или Software engineer' 'HiWi'
 'Project manager' 'Technical Lead' 'Tech Lead / Full-Stack'
 'Marketing Analyst' 'CTO' 'Software tester ' 'SAP BW Senior Consultant '
 'QA Manager ' 'Director of Engineering' 'IT Spezialist' 'Manager'
 'Consultant ' 'Data Analyst' 'Software Developer in Test'
 'Technical account manager ' 'Tech Leader' 'Chief Research Officer'
 'Presales Engineer ' 'Freelance AI lead / advisor'
 'Business Development Manager Operations ' 'Program Manager' 'Researcher'
 'Engineering manager' 'Embedded Software Engineer' 'Dana Analyst'
 'Team Manager' 'Data Analyst ' 'working student (QA)' 'Architect '
 'Head of Engineering' 'SAP Consultant' 'BI Consultant SAP/ Data Engineer'
 'computer vision researcher' 'Teamlead' 'Senior Data Engineer' 'Analyst'
 'IT Manager' 'Head of IT ' 'Lead Software Developer' 'Tech recruiting'
 'BI Analyst ' 'BI Developer / Data Engineer' 'Senior Scrum Master (RTE)'
 'Head of BI' 'Technical project manager' 'Project manager '
 'support engineer' 'Security engineer' 'Big Data Engineer' 'Manager '
 'Professor' 'AI Management' 'Sales ' 'XR Developer'
 'Engineering Team Lead' 'DataOps Team Lead' 'Software Sales' 'Beikoch'
 'Data analyst ' 'Product Analyst' 'It Consulting ' 'Data architect'
 'Staff Engineer' 'Head of IT' 'Computational linguist'
 'technical business analyst' 'Full-Stack Developer' 'QA Manager'
 'QA Lead' 'Robotics Engineer' 'DatabEngineer' 'Application Consultant'
 'Software Architekt' 'Testmanager' 'ERP Consultant'
 'Researcher/ Consumer Insights Analyst ' 'IT Operations Manager']
['Fullstack Developer' 'Backend Developer' 'Embedded Developer'
 'Machine Learning Engineer' 'Manager' 'Mobile Developer' 'DevOps'
 'Designer (UI, UX)' 'Frontend Developer' 'Data Engineer' 'QA'
 'Software Architect' 'Business Analyst' 'Data Scientist' 'Localization'
 'Support' 'System Administrator' 'SRE' 'Software Engineer'
 'CTO (CEO, CFO)' 'SAP Consultant' 'Database Developer (DBA)'
 'Desktop/Unity3D Developer' 'Product Manager' 'Recruiter ' 'Researcher'
 'Cloud Platform Engineer' 'Sales Engineer' 'Mainframe' 'Network Engineer'
 'NLP Engineer' 'Head of AI' 'Head of Engineering' 'Tech Lead'
 'Crypto Developer' 'Modelling Specialist' 'RPA developer'
 'Platform Engineer' 'IT Security' 'UX Researcher' 'Game Developer'
 'Backend Developer & Team Lead' 'support' 'DevOps Manager'
 'Solution Architect' 'Scrum Master' 'Data Analyst' 'Desktop'
 'Product manager' 'Security Engineer']
Seniority unique values
['Senior' 'Lead' 'Junior' 'Middle' 'Head' 'No level' 'VP'
 'Work Center Manager' 'CTO' 'No level ' 'Director' 'Key'
 'C-level executive manager' 'Principal' 'intern' 'Student'
 'no idea, there are no ranges in the firm ' 'C-Level' 'Working Student'
 'student' 'Self employed']
['Senior' 'Middle' 'Head' 'Lead' 'Junior' 'Principal']
Language unique values
['English' 'German' 'English and German' 'Russian' 'Polish' 'Русский'
 'Czech' 'Italian' 'Deuglisch' 'French' 'both' 'Spanish'
 'Russian, English']
['English' 'Deutsch' 'English+Deutsch' 'Russian' 'Spanish' 'French'
 'Italian' 'Polish+English' 'Polish']
CompanySize unique values
['51-100' '101-1000' '11-50' '1000+' 'up to 10']
['50-100' '10-50' '100-1000' '1000+' 'up to 10']
CompanyType unique values
['Product' 'Startup' 'Consulting / Agency' 'Media' 'Cloud' 'Behörde'
 'Big commercial' 'Outsorce' 'Bank ' 'Fintech' 'Automotive'
 'IT Department of established business' 'Telecommunications' 'E-commerce'
 'Bank' 'Systemhaus' 'University' 'consumer goods' 'IT-Outsourcing'
 'Game Company' 'Financial ' 'Corporation' 'Publishing and Technology'
 'Market Research ' 'e-commerce' 'SaaS' 'Publisher' 'Energy ' 'Enterprise'
 'Bloody enterprise' 'service' 'Concern' 'Utilities' 'Insurance'
 'Science Institute ' 'Research institute' 'Retail' 'Ecommerce'
 'E-Commerce' 'Semiconductor' 'Automotive ' 'Finance' 'Handel '
 'Consulting and Product' 'Education' 'Pharma' 'Corporation '
 'Transport & Logistics' 'Biergarten ' 'Non-tech retail' 'Research'
 'corporate incubator' 'Multinational ' 'Industry' 'FAANG' 'Old industry'
 'Outsourse' 'freelance' 'eCommerce']
['Startup' 'Product' 'Consulting / Agency' 'Bodyshop / Outsource'
 'University' 'Bank' 'Outsource']
Bonuse unique values
['5000' 0 '120000' '9400' '2000' '80000' '4000' '10000' '1000' '101'
 '12000' '1500' '35200' '15000' '8000' '72000' '30000' '75000' '73000'
 '3000' '5800' '7000' '40000' '56000' '6300' '6000' '62000' '22000' '7500'
 '67000' '7750' '8500' '70000' '25000' '26000' '10300' '6900' '95000'
 '4700' '18000' '140000' '22500' '112000' '7300' '77000' '17000' '60000'
 '200000' '3500' '0' '20000' '63500' '20240' '81200' '11000' '6500'
 '46000' '400' '122.13' '4500' '500' '14500' '43500' '50400' '800' '88000'
 '28800' '65000' '86000' '77400' '12' '74000' '19200' '3520' '96000'
 '47500' '45600' '55000' '11900' 'bvg only' '150000' '13500' '50000'
 '1600' '5500' '45000' '38500' '2400' '1150000' '9000' '4300' '85000'
 '59000' '100000' '63909' '99000' '70500' '450000' '20700' '78000' '4250'
 '89000' 'depends' '35000' '6710' '23000' '3600' '97000' '1100' '15000+-'
 '90000' '37968' '4400' '66500' '5000000000' '84000' '15900' '21000'
 '87250' '71000' '106000' '43000' '14000' 'Na' '13000' '3250' '54000'
 '58000' '170000' '82000' '9450' '66447' '53500' '82500' '36000' '2800'
 '107000' '12500' '-' '125000' '80400' '7200' '3800' '2500' '28000'
 '31500' '63000' '25' '45500' '92000' '1200' '1250' 'Not sure' '16000'
 '110000' '700' '16320' '105000' '40950']
[1.000e+03 0.000e+00 4.000e+03 5.500e+03 6.000e+03 5.000e+03 6.500e+03
 1.600e+04 2.000e+03 4.650e+03 9.000e+03 8.000e+03 1.500e+03 1.300e+04
 2.000e+02 4.700e+03 2.300e+01 1.000e+04 1.050e+04 3.800e+03 3.000e+03
 2.500e+03 1.200e+04 8.000e+04 1.100e+04 3.060e+03 7.900e+03 2.500e+04
 4.800e+03 1.500e+04 1.000e+00 6.800e+03 7.800e+03 6.300e+03 1.010e+04
 7.000e+03 3.700e+04 2.250e+04 6.700e+03 8.800e+03 1.400e+03 5.300e+03
 6.000e+04 5.800e+03 9.600e+03 4.100e+03 2.300e+04 7.500e+03 1.900e+04
 1.000e+01 2.000e+04 7.200e+03 2.300e+03 3.500e+04 5.500e+04 3.200e+03
 3.000e+02 5.180e+03 1.350e+04 1.215e+04 4.500e+03 2.200e+04 4.170e+03
 8.500e+03 1.400e+04 2.800e+04 4.416e+03 3.000e+04 3.300e+03 1.140e+04
 1.700e+04 1.800e+04 1.200e+03 4.300e+03 8.000e+02 8.424e+03 8.052e+03]
VacationDays unique values
['30' '28' '24' '29' '27' '25' '31' '26' '60' '20' '22' '38' '35' '40'
 '365' '36' '23' '33' '21' 'unlimited' '14' 'unlimited ' '(no idea)'
 '30 in contract (but theoretically unlimited)' '32' '0' 'Unlimited ' '15'
 '16' '3' '45' '~25' '12' '50' '23+' '99' 'Unlimited' '24 labour days'
 '37.5' '1' '5' '37' '39' '34' '10']
[ 29.   22.   24.   30.   27.   25.   26.   28.   40.   20.    9.   31.
  23.   32.   15.    5.   14.   36.   21.   60.   33.   37.    4.   35.
 100.   75.   27.5  22.5  45.   28.5  25.5  38. ]
Experience unique values
['5' '7' '12' '4' '17' '6' '8' '15' '2' '14' '11' '18' '13' '30' '10' '25'
 '3' '40' '26' '9' '19' '20' '5.5' '22' '16' '0.8' '1' '1.5' '6.5' '21'
 '2.5' '28' '29' '23' '1,5' '24' '0' '4.5' '27'
 '1 (as QA Engineer) / 11 in total' '2,5' '15, thereof 8 as CTO' '31'
 '3.5' 'less than year']
[13  3  6 10 11 12 15  7  8  9  2  5 16 20  4 14 18 19  0 25  1 17 22 24
 30]
Stocks unique values
[0.000e+00 1.000e+04 3.500e+03 1.000e+00 2.000e+03 5.000e+04 5.000e+01
 4.000e+03 2.024e+04 1.000e+03 7.500e+03 6.000e+03 5.000e+03 4.000e+02
 1.000e-02 2.500e+04 1.600e+04 3.000e+04 1.000e+01 3.600e+02 5.000e+00
 3.000e+03 1.200e+04 1.500e+04 1.500e+03 5.000e+02 2.200e+04 1.100e+04
 1.250e+04 2.000e+04 1.800e+04 2.800e+04 1.000e-01 8.000e+03 8.000e+04
 7.500e+05 2.400e+04 4.000e+04 1.000e+02 4.500e+04 9.000e+04 4.800e+04
 3.500e+04 3.500e+02 2.400e+03 1.000e+05 2.500e+03]

In [265]:
# cleaning gender column
print(df20.Gender.value_counts()['Diverse'])

1

In [266]:
df20.drop(df20[df20.Gender == 'Diverse'].index, inplace=True)
df20.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [267]:
# cleaning city columns
df20.City = df20.City.str.lower().str.strip()
df19.City = df19.City.str.lower().str.strip()

# replace letters with more common alternatives
df20 = df20.replace({'City': {'ö': 'o', 'ü': 'u','ń':'n'}}, regex=True)
df19 = df19.replace({'City': {'ö': 'o', 'ü': 'u','ń':'n'}}, regex=True)

print('City unique values')
df20Cities = df20.City.unique() 
df19Cities = df19.City.unique()
df20Cities.sort()
df19Cities.sort()
print(df20Cities)
print(df19Cities)

City unique values
['aachen' 'amsterdam' 'ansbach' 'barcelona' 'basel' 'berlin' 'bielefeld'
 'bodensee' 'boeblingen' 'bolingen' 'bonn' 'braunschweig' 'brunswick'
 'brussels' 'cambridge' 'city in russia' 'cologne' 'copenhagen' 'cracovia'
 'cracow' 'cupertino' 'darmstadt' 'den haag' 'dortmund' 'dresden' 'dublin'
 'duesseldorf' 'dusseldorf' 'dusseldurf' 'eindhoven' 'erlangen' 'fr'
 'france' 'frankfurt' 'friedrichshafen' 'hamburg' 'hannover' 'heidelberg'
 'heilbronn' 'helsinki' 'hildesheim' 'ingolstadt' 'innsbruck' 'istanbul'
 'karlsruhe' 'kempten' 'kiev' 'koblenz' 'koln' 'konstanz' 'konstanz area'
 'krakow' 'kyiv' 'leipzig' 'lisbon' 'london' 'lubeck' 'luttich' 'madrid'
 'malta' 'mannheim' 'marseille' 'milan' 'milano' 'minsk' 'moscow' 'munich'
 'munster' 'murnau am staffelsee' 'nuremberg' 'nurnberg' 'paderborn'
 'paris' 'prague' 'prefer not to say' 'regensburg' 'riga, latvia' 'rome'
 'rosenheim' 'saarbrucken' 'saint-petersburg' 'salzburg'
 'schleswig-holstein' 'sevilla' 'siegen' 'sofia' 'stockholm' 'stuttgart'
 'tallinn' 'tampere (finland)' 'tuttlingen' 'ulm' 'utrecht' 'vienna'
 'walldorf' 'warsaw' 'warsaw, poland' 'wolfsburg' 'wroclaw' 'wurzburg'
 'zurich']
['almere' 'amsterdam' 'antwerpen' 'berlin' 'bielefeld' 'braunschweig'
 'bremen' 'brussels' 'cologne' 'cork' 'dubai' 'dublin' 'dusseldorf'
 'eindhoven' 'frankfurt' 'freiburg' 'gdansk' 'hamburg' 'hannover'
 'heidelberg' 'hilversum' 'ingolstadt' 'jyvaskyla' 'kaiserslautern'
 'karlsruhe' 'kassel' 'kiev' 'koblenz' 'krakow' 'kyiv' 'lausanne'
 'leipzig' 'limassol' 'lingen' 'london' 'ma' 'madrid' 'milan' 'minsk'
 'moscow' 'munich' 'nizhny novgorod' 'nuremberg' 'odesa' 'paris'
 'pforzheim' 'riga' 'rotterdam' 'saint petersburg' 'saint-petersburg'
 'schleswig-holstein' 'stockholm' 'stuttgart' 'tallinn' 'utrecht' 'vienna'
 'walldorf' 'warsaw' 'wolfsburg' 'wroclaw' 'wurzburg' 'zug' 'zurich']

In [268]:
# clean cities defined with many different names
df20 = df20.replace({'City': {'bolingen':'bollingen',
                              'brunswick': 'braunschweig',
                              'duesseldorf':'dusseldorf',
                              'dusseldurf':'dusseldorf',
                              'cologne':'koln',
                              'konstanz area':'konstanz',
                              'cracovia':'krakow',
                              'kiev': 'kyiv',
                              'milano': 'milan',
                              'nurnberg': 'nuremberg',
                              'den haag':'the haag',
                              'saint-petersburg':'saint petersburg',
                              'warsaw, poland':'warsaw',
                              'riga, latvia': 'riga'
                              }})
df19 = df19.replace({'City': {'cologne':'koln','kiev': 'kyiv', 'saint-petersburg':'saint petersburg'}})

# remove columns with wrong cities
df20.drop(df20[(df20.City == 'fr') | (df20.City == 'france') | (df20.City == 'prefer not to say')].index, inplace=True)
df19.drop(df19[df19.City == 'ma'].index, inplace=True)

print('City new unique values')
df20Cities = df20.City.unique() 
df19Cities = df19.City.unique()
df20Cities.sort()
df19Cities.sort()
print(df20Cities)
print(df19Cities)

City new unique values
['aachen' 'amsterdam' 'ansbach' 'barcelona' 'basel' 'berlin' 'bielefeld'
 'bodensee' 'boeblingen' 'bollingen' 'bonn' 'braunschweig' 'brussels'
 'cambridge' 'city in russia' 'copenhagen' 'cracow' 'cupertino'
 'darmstadt' 'dortmund' 'dresden' 'dublin' 'dusseldorf' 'eindhoven'
 'erlangen' 'frankfurt' 'friedrichshafen' 'hamburg' 'hannover'
 'heidelberg' 'heilbronn' 'helsinki' 'hildesheim' 'ingolstadt' 'innsbruck'
 'istanbul' 'karlsruhe' 'kempten' 'koblenz' 'koln' 'konstanz' 'krakow'
 'kyiv' 'leipzig' 'lisbon' 'london' 'lubeck' 'luttich' 'madrid' 'malta'
 'mannheim' 'marseille' 'milan' 'minsk' 'moscow' 'munich' 'munster'
 'murnau am staffelsee' 'nuremberg' 'paderborn' 'paris' 'prague'
 'regensburg' 'riga' 'rome' 'rosenheim' 'saarbrucken' 'saint petersburg'
 'salzburg' 'schleswig-holstein' 'sevilla' 'siegen' 'sofia' 'stockholm'
 'stuttgart' 'tallinn' 'tampere (finland)' 'the haag' 'tuttlingen' 'ulm'
 'utrecht' 'vienna' 'walldorf' 'warsaw' 'wolfsburg' 'wroclaw' 'wurzburg'
 'zurich']
['almere' 'amsterdam' 'antwerpen' 'berlin' 'bielefeld' 'braunschweig'
 'bremen' 'brussels' 'cork' 'dubai' 'dublin' 'dusseldorf' 'eindhoven'
 'frankfurt' 'freiburg' 'gdansk' 'hamburg' 'hannover' 'heidelberg'
 'hilversum' 'ingolstadt' 'jyvaskyla' 'kaiserslautern' 'karlsruhe'
 'kassel' 'koblenz' 'koln' 'krakow' 'kyiv' 'lausanne' 'leipzig' 'limassol'
 'lingen' 'london' 'madrid' 'milan' 'minsk' 'moscow' 'munich'
 'nizhny novgorod' 'nuremberg' 'odesa' 'paris' 'pforzheim' 'riga'
 'rotterdam' 'saint petersburg' 'schleswig-holstein' 'stockholm'
 'stuttgart' 'tallinn' 'utrecht' 'vienna' 'walldorf' 'warsaw' 'wolfsburg'
 'wroclaw' 'wurzburg' 'zug' 'zurich']

In [269]:
# clean position and seniority

df20.Position = df20.Position.str.lower().str.strip()
df19.Position = df19.Position.str.lower().str.strip()

df20 = df20.replace({'Seniority': {
    'Work Center Manager':'Manager',
    'Working Student': 'Junior', 
    'student':'Junior', 
    'Student':'Junior', 
    'Entry level':'Junior', 
    'CTO':'C-Level', 
    'Director':'C-Level', 
    'C-level executive manager':'C-Level',
    'VP':'C-Level',
    'intern':'Intern',
    'no idea, there are no ranges in the firm ': 'No level',
    'No level ': 'No level',
    'Key': 'No level',
    }})
df20.Seniority.unique()

array(['Senior', 'Lead', 'Junior', 'Middle', 'Head', 'No level',
       'C-Level', 'Manager', 'Principal', 'Intern', 'Self employed'],
      dtype=object)

In [270]:
# clean experience column
df20 = df20.replace({'Experience': {
    '1,5':'1.5', 
    '1 (as QA Engineer) / 11 in total': '11',
    '2,5':'2.5',
    '15, thereof 8 as CTO':'15',
    'less than year': '0',
    }})
df20.Experience = df20.Experience.astype(float)
df20.Experience = df20.Experience.astype(int)

df20Experience = df20.Experience.unique()
df20Experience.sort()
df20Experience

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 40])

In [271]:
# cleaning VacationDays column 
df20.VacationDays = df20.VacationDays.str.lower().str.strip()
df20 = df20.replace({'VacationDays': {
    'unlimited':'365',
    '(no idea)': np.nan,
    '30 in contract (but theoretically unlimited)':'365',
    '~25':'25',
    '23+': '23',
    '24 labour days': '24',
    }})
df20 = df20.dropna()
df20.VacationDays = df20.Experience.astype(float).astype(int)
df20.VacationDays.unique()
df19.VacationDays = df19.Experience.astype(float).astype(int)

In [272]:
# clean Language column
df20 = df20.replace({'Language': {
    'English and German':'Many',
    'Русский':'Russian',
    'both':'Many',
    'English and German':'Many',
    'Russian, English':'Many',
    }})
df19 = df19.replace({'Language': {
    'Deutsch':'German',
    'English+Deutsch':'Many',
    'Polish+English':'Many',
    }})

print('Language unique values')
print(df20.Language.unique())
print(df19.Language.unique())

Language unique values
['English' 'German' 'Many' 'Russian' 'Polish' 'Czech' 'Italian'
 'Deuglisch' 'Spanish']
['English' 'German' 'Many' 'Russian' 'Spanish' 'French' 'Italian' 'Polish']

In [273]:
# clean company size and company type

# replace the 2019 survey values to be the same as 2020 (small errors possible)
df19 = df19.replace({'CompanySize': {
    '50-100':'51-100',
    '10-50':'11-50',
    '100-1000':'101-1000',
    }})

df20.CompanyType = df20.CompanyType.str.lower().str.strip()
df19.CompanyType = df19.CompanyType.str.lower().str.strip()
df20 = df20.replace({'CompanyType': {
    'bloody enterprise':'enterprise',
    'e-commerce':'ecommerce',
    'financial':'finance',
    'fintech':'finance',
    'it-outsourcing':'outsource',
    'outsorce':'outsource',
    'publishing and technology':'publisher',
    'research institute':'research',
    'market research':'research',
    }})
df19 = df19.replace({'CompanyType': {
    'bodyshop / outsource':'outsource',
    }})
print('CompanyType unique values')
print(df20.CompanyType.unique())
print(df19.CompanyType.unique())

CompanyType unique values
['product' 'startup' 'consulting / agency' 'media' 'cloud' 'behörde'
 'big commercial' 'outsource' 'bank' 'finance' 'automotive'
 'it department of established business' 'telecommunications' 'ecommerce'
 'systemhaus' 'university' 'consumer goods' 'game company' 'corporation'
 'publisher' 'research' 'saas' 'energy' 'enterprise' 'service' 'concern'
 'utilities' 'insurance' 'science institute' 'retail' 'semiconductor'
 'handel' 'consulting and product' 'education' 'pharma'
 'transport & logistics' 'biergarten' 'non-tech retail'
 'corporate incubator' 'multinational' 'industry' 'faang' 'old industry'
 'outsourse' 'freelance']
['startup' 'product' 'consulting / agency' 'outsource' 'university' 'bank']

In [274]:
# clean bonus and merge bonus and stocks
df20 = df20.replace({'Bonus': {
    '15000+-':'15000',
    '122.13':'122',

    }})
df20.Bonus = pd.to_numeric(df20.Bonus, errors='coerce')
df20.dropna(inplace=True)

df19.Bonus = df19.Bonus + df19.Stocks
df19.drop(columns=['Stocks'], inplace=True)
df19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 803 entries, 0 to 990
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           803 non-null    float64
 1   Gender        803 non-null    object
 2   City          803 non-null    object
 3   Position      803 non-null    object
 4   Experience    803 non-null    int64
 5   Salary        803 non-null    float64
 6   Seniority     803 non-null    object
 7   Bonus         803 non-null    float64
 8   VacationDays  803 non-null    int32
 9   Language      803 non-null    object
 10  CompanySize   803 non-null    object
 11  CompanyType   803 non-null    object
dtypes: float64(3), int32(1), int64(1), object(7)
memory usage: 78.4+ KB

In [275]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1128 entries, 0 to 1252
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           1128 non-null   float64
 1   Gender        1128 non-null   object
 2   City          1128 non-null   object
 3   Position      1128 non-null   object
 4   Experience    1128 non-null   int32
 5   Salary        1128 non-null   float64
 6   Seniority     1128 non-null   object
 7   Bonus         1128 non-null   float64
 8   VacationDays  1128 non-null   int32
 9   Language      1128 non-null   object
 10  CompanySize   1128 non-null   object
 11  CompanyType   1128 non-null   object
dtypes: float64(3), int32(2), object(7)
memory usage: 105.8+ KB

In [276]:
print(df20.shape)
print(df19.shape)

(1128, 12)
(803, 12)

In [277]:
df20.sort_values(by=['Salary'], ascending=False)

,Age,Gender,City,Position,Experience,Salary,Seniority,Bonus,VacationDays,Language,CompanySize,CompanyType
853,29.0,Female,koln,ml engineer,1,500000000.0,Middle,5.000000e+09,1,English,up to 10,startup
778,42.0,Male,berlin,frontend developer,18,850000.0,Senior,9.500000e+04,18,English,101-1000,product
630,40.0,Male,cupertino,software engineer,20,250000.0,Lead,4.500000e+05,20,English,1000+,product
804,20.0,Male,berlin,mobile developer,5,240000.0,Lead,1.500000e+04,5,English,1000+,product
574,38.0,Male,berlin,freelance ai lead / advisor,20,200000.0,Head,2.000000e+05,20,English,up to 10,consulting / agency
...,...,...,...,...,...,...,...,...,...,...,...,...
391,30.0,Male,moscow,backend developer,2,13000.0,Middle,0.000000e+00,2,Russian,51-100,startup
680,25.0,Female,hamburg,working student (qa),1,12000.0,Junior,0.000000e+00,1,English,1000+,product
1135,24.0,Male,berlin,ml engineer,0,11500.0,Junior,0.000000e+00,0,English,11-50,consulting / agency
366,24.0,Male,aachen,hiwi,3,10164.0,Junior,0.000000e+00,3,English,11-50,university
982,22.0,Male,istanbul,backend developer,3,10001.0,Middle,0.000000e+00,3,English,up to 10,startup

In [278]:
df20.drop(df20[df20.Salary >= 500000].index, inplace=True)
df20.sort_values(by=['Salary'], ascending=False)

,Age,Gender,City,Position,Experience,Salary,Seniority,Bonus,VacationDays,Language,CompanySize,CompanyType
630,40.0,Male,cupertino,software engineer,20,250000.0,Lead,450000.0,20,English,1000+,product
804,20.0,Male,berlin,mobile developer,5,240000.0,Lead,15000.0,5,English,1000+,product
966,35.0,Male,berlin,data engineer,6,200000.0,Senior,200000.0,6,English,11-50,startup
1223,45.0,Male,munich,software engineer,20,200000.0,Self employed,15000.0,20,German,up to 10,freelance
441,32.0,Male,berlin,cto,10,200000.0,C-Level,200000.0,10,English,101-1000,product
...,...,...,...,...,...,...,...,...,...,...,...,...
391,30.0,Male,moscow,backend developer,2,13000.0,Middle,0.0,2,Russian,51-100,startup
680,25.0,Female,hamburg,working student (qa),1,12000.0,Junior,0.0,1,English,1000+,product
1135,24.0,Male,berlin,ml engineer,0,11500.0,Junior,0.0,0,English,11-50,consulting / agency
366,24.0,Male,aachen,hiwi,3,10164.0,Junior,0.0,3,English,11-50,university
982,22.0,Male,istanbul,backend developer,3,10001.0,Middle,0.0,3,English,up to 10,startup

In [279]:
df20.groupby('Gender')['Salary'].mean()

Gender
Female    58685.233918
Male      73165.011518
Name: Salary, dtype: float64

In [280]:
df20[df20['Gender'] == 'Male'].shape

(955, 12)

In [281]:
print(df20.Gender.unique())

['Male' 'Female']